<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/cssstyle.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='js/functionality.js') }}">
    <title>Logout Successful</title>
</head>
<body>
    <header>
        <div class="nav">
            <a href="/Login/">Login</a>
            <a href="/Register/">Registration</a>
        </div>
    </header>
    <div style="text-align: center;">
        <h1>Logout Successful</h1>
        <p>Please Come Back Soon</p>
        <p>&#58;&#41;</p>
        <p><a href="/Login/">Let Me Try Again To Keep You Here!</a></p>
    </div>
</body>
</html>