<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/cssstyle.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='js/functionality.js') }}">
    <title>User Successfully Created</title>
</head>
<body>
    <header>
        <div class="nav">
            <a href="/Login/">Login</a>
            <a href="/Register/">Registration</a>
        </div>
    </header>
    <div style="text-align: center;">
        <h1>USER SUCCESSFULLY CREATED</h1>
        <p>You may now login</p>
        <p style="font-size: larger;">&#58;&#41;</p>
        <p><a href="/Login/">Let's Start Making Friends!</a></p>
    </div>
</body>
</html>